
@font-face {
  font-family: 'DM Serif Display';
  src: url('/application/src/fonts/DMSerifDisplay-Regular.ttf');
}

@font-face {
  font-family: "Work Sans";
  src: url('/application/src/fonts/WorkSans-Light.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Work Sans";
  src: url('/application/src/fonts/WorkSans-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Work Sans";
  src: url('/application/src/fonts/WorkSans-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Work Sans";
  src: url('/application/src/fonts/WorkSans-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

.root {
  -fx-background-color: #fff;
  -fx-font: 16px 'Work Sans';
}

#h1 {
	-fx-font-family: "DM Serif Display";
	-fx-font-size: 30;
}

#leftPane {
	-fx-background-color: #fff;
}

#leftPaneHeader {
	-fx-background-color: #307ae9;
}

#dateText {
	-fx-font-size: 18;
}

#rightPane {
	-fx-background-color: #1c1c1c;
}

#rightPaneHeader {
	-fx-background-color: #f02929;
}

#calendarView {
	-fx-background-color: #1dcb39;
}

#time {
	-fx-font-weight: 700;
}

#MATH222 {
	-fx-background-color: rgb(240, 41, 41);
}

#ass_MATH222 {
	-fx-background-color: rgba(240, 41, 41, 0.15);
	-fx-border-width: 0 0 0 3.75px;
	-fx-border-color: rgb(240, 41, 41);
}

#CS400 {
	-fx-background-color: rgb(255, 219, 30);
}

#ass_CS400 {
	-fx-background-color: rgba(255, 219, 30, 0.15);
	-fx-border-width: 0 0 0 3.75px;
	-fx-border-color: rgb(255, 219, 30);
}

#CS252 {
	-fx-background-color: rgb(48, 122, 233);
}

#ass_CS252 {
	-fx-background-color: rgba(48, 122, 233, 0.15);
	-fx-border-width: 0 0 0 3.75px;
	-fx-border-color: rgb(48, 122, 233);
}

#PHILOS101 {
	-fx-background-color: rgb(29, 203, 57);
}

#ass_PHILOS101 {
	-fx-background-color: rgba(29, 203, 57, 0.15);
	-fx-border-width: 0 0 0 3.75px;
	-fx-border-color: rgb(29, 203, 57);
}